﻿@{
    Layout = "~/_SiteLayout.cshtml";
}


<div id="apDiv1">
    <div align="center">
        <h2>RECTORA</h2></div>
</div>
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            EDNA LILIANA VARGAS PULIDO, Licenciada en Pedagogia Infantil, con un amplio criterio de sentido de pertenecia, sentido de responsabilidad, honestidad, liderazgo y toma de decisiones. Es quien supervisa que los programas de mejoramiento académico se desarrollen de acuerdo a lo planeado y evalúa la eficiencia de los métodos de enseñanza utilizadas por el profesor en un ambiente colaborativo y de respeto.
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="Images/16.jpg" width="226" height="291">
    </div>
</div>

<div id="apDiv4">
        <div align="center">
            <h2>COORDINADORA</h2></div>
    </div>

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            VIANEY NUÑEZ CALDERON, Licenciada en Pedagogía Infantil, Posee actitudes y cualidades como profesional, constancia, afán de superación, impulso para saber actuar en la incertidumbre, creatividad, imaginación realista, confianza en sí mismo, iniciativa para abordar asuntos, capacidad de respuesta frente a lo inesperado, flexibilidad, capacidad de trabajar en equipo, de exigir, comprender y adaptarse y vinculación con el proyecto educativo del centro.
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="Images/20.jpg" width="224" height="294">
    </div>
</div>

<div id="apDiv4">
    <div align="center">
        <h2>DOCENTE</h2>
    </div>
</div>

<br />

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            LYDA FERNANDA GRANADA HERMIDA, Normalista Superior, mi experiencia laboral ha estado relacionada con la docencia, me considero una persona Respuetosa, Honesta, Tolerante, con facilidad para aprender, con buenas relaciones intermpersonales, me adopoto muy rapido a mi trabjo labora y responsable con las funciones propuestas.
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="Images/17.jpg" width="212" height="294">
    </div>
</div>
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
            MARLY DUARTE, Normalista Superior, persona Responsable, Honesta y amigable. Me gusta contribuir con el aporte de conocimientos a los estudiantes de manera profesional estando dispuesta para aprender de ellos.
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="Images/21.jpg" width="212" height="290">
    </div>
</div>
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <div align="justify">
            <br />
            <br>
           YAMID VARGAS PULIDO, Lincenciado en Educación Básica con énfasis en Educación Artística, Persona responsable, dinámica, respetuosa y bastante paciente, considero que la base en la educación de los niños esta en el interés que estos demuestren en clase, tengo las herramientas suficientes para despertar el mjor rendimiento de los estudiante.
        </div>
    </div>

    <div class="col-md-4 col-md-push-3">
        <img src="Images/18.jpg" width="213" height="296">
    </div>
</div>
<br />
<br />

    
 