﻿@{
    Layout = "~/_SiteLayout.cshtml";
}



<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">

        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">

            <form class="form-signin">
                <img src=" images\b.png" alt="Generic placeholder image" width="300" height="250" class="img-rounded">
                <h2>Buscar</h2>
                <label for="text" class="sr-only">Nombre Estudiante</label>
                <input type="text" id="buscar " class="form-control" placeholder="Nombre Estudiante" required autofocus>
                <br />
                <label for="text" class="sr-only">Periodo</label>
                <input type="text" id="buscar " class="form-control" placeholder="Periodo" required autofocus>
                <br />

                <div class="checkbox"></div>

                <button class="btn btn-success btn btn-primary btn-lg" type="submit" onclick=" location.href = 'notas'">Buscar</button>


            </form>

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>