﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <h3>Editar Notas</h3>
        <a href="buscar"><center><img class="img-rounded" src="images\bole.png" alt="Generic placeholder image" width="350" height="310"></center></a>
        
        
    </div>
    <div class="col-md-4 col-md-push-3">
        <h3>Consultar Boletin</h3>
        <a href="buscar"><center><img class="img-rounded" src="images\notas.png" alt="Generic placeholder image" width="350" height="310"></center></a>
        
    </div>
</div>
<br />
<br />
