﻿@{
    Layout = "~/_SiteLayout.cshtml";
}


<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <h2> Primer Periodo </h2>
        <a href="notas"><center><img class="img-rounded" src="images\nn1.png" alt="Generic placeholder image" width="150" height="200"></center></a>
        
    </div>

    <div class="col-md-4 col-md-push-3">
        <h2> Segundo Perido</h2>
        <a href="notas"><center><img class="img-rounded" src="images\2s.png" alt="Generic placeholder image" width="150" height="200"></center></a>
        
    </div>
</div>

<br />

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <h2> Tercer Periodo</h2>
        <a href="notas"><center><img class="img-rounded" src="images\3s.png" alt="Generic placeholder image" width="150" height="200"></center></a>
        
    </div>

    <div class="col-md-4 col-md-push-3">
        <h2> Cuarto Periodo</h2>
        <a href="notas"><center><img class="img-rounded" src="images\4o.png" alt="Generic placeholder image" width="150" height="200"></center></a>
        
    </div>
</div>
<br />
<br />

