﻿@{
    Layout = "~/_SiteLayout.cshtml";
}



<div id="apDiv1">
    <div align="center"><h2>DIA DE LA FAMILIA</h2></div>
    <p class="lead" align="justify">
        El último sábado del mes de mayo se realiza una integración familiar  con el objetivo de festejar esta fecha, resaltando que la familia es lo más importante que tiene el ser humano. Porque la familia sigue siendo considerada a un como la unidad básica de la sociedad, es uno de los vínculos afectivos más poderosos.
        Ya que la familia es el lugar de crecimiento, donde se encuentra protección y seguridad.
        El C. E. PERSONITAS, realiza talleres,  aprovechando  esta oportunidad para que las familias demuestren su solidaridad y reflexione sobre cómo mejorar la relación entre todos sus miembros.
    </p>
</div>
<br />

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <img src="images\a.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
    <div class="col-md-4 col-md-push-3">
        <img src="images\d.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
</div>
<br />
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <img src="images\b.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
    <div class="col-md-4 col-md-push-3">
        <img src="images\s.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
</div>

<br />