﻿@{
    Layout = "~/_SiteLayout.cshtml";
}





<div id="apDiv1">
    <div align="center"><h2>DIA DEL AMOR Y AMISTAD</h2></div>
    <p class="lead" align="justify">
        En esta actividad se realiza con un juego tradicional como el amigo secreto, que es organizado por la profesora titular en el mes de septiembre. Esta fecha es considerada como una actividad de integración entre compañeros y profesores.
        Para la entrega de regalos realizan una fiesta rompiendo con la rutina del uniforme y los cuadernos, son descansos apropiados para la integración.
    </p>
</div>

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <img src="images\g.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
    <div class="col-md-4 col-md-push-3">
        <img src="images\r.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
</div>
<br />
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <img src="images\k.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
    <div class="col-md-4 col-md-push-3">
        <img src="images\h.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
</div>

