﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";

}

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">

        <div class="col-lg-4">
            
        </div>
         <div class="col-lg-4">

             <form class="form-signin">
                 <img src=" images\login.png" alt="Generic placeholder image" width="400" height="300" class="img-rounded">
                 <label for="inputEmail" class="sr-only">Usuario</label>
                 <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
                 <br />
                 <label for="inputPassword" class="sr-only">Contraseña</label>
                 <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                 <div class="checkbox"></div>
                 <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                  
             </form>

            </div>
        <div class="col-lg-4">
            
        </div>
        </div>
    </div> <!-- /container -->
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js"></script>

<br />
<br />
