﻿@{
    Layout = "~/_SiteLayout.cshtml";
}

<div id="apDiv1">
    <div align="center"><h2>DIA DEL NIÑO</h2></div>
    
    <p class="lead" align="justify">
       El día del niño es una fecha que tiene un gran significado en el c. e. personitas, porque no solo se trata de festejar, sino que también de promover sus derechos y concientizar a los padres de familia y personas allegadas de la importancia de la niñez, en el hogar, en la comunidad, en la sociedad.
       es así que en abril se busca una fecha y organizan actividades lúdicas pedagógicas para ayudar a desarrollar el bienestar de los menores. de esta manera se logra que se escuche por todo el colegio y sus al rededores la felicidad, haciendo sentir la magia de su inocencia. durante todo este mes el colegio se encuentra decorado con carteles y pancartas alusivas a esta fecha.</p>
</div>
<br />
<br />

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <img src="images\x.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
    <div class="col-md-4 col-md-push-3">
        <img src="images\c.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
</div>
<br />
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">
        <img src="images\v.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
    <div class="col-md-4 col-md-push-3">
        <img src="images\z.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">
    </div>
</div>

<br />

