﻿@{
    Layout = "~/_SiteLayout.cshtml";
}

<!-- Encabezado-->

<div class="row featurette">
    <div>
        <p align="center"> CENTRO EDUCATIVO PERSONITAS</p>
        <p align="center">RES. 0108 DEL 22 DE    FEBRERO 2010</p>
        <p align="center">CÓD. DANE  318001003275</p>
        <p align="center">TEL. 4353308-3142471604</p>
        <p align="center">florencia - CAQUETÁ</p>
        <p align="center">AÑO    LECTIVO 2015</p>
    </div>

    <!--tabla de materias-->

    <div class="table-responsive">


        <table class="table table-bordered" width="480" align="center">
            <tr>
                <td width="127">NONBRE DEL ESTUDIANTE:</td>
                <td colspan="4">SEBASTIAN LOPEZ MACETO</td>
                <td width="48">GRADO:</td>
                <td width="70">SEGUNSO</td>
            </tr>
            <tr>
                <td>Calendario: A</td>
                <td width="59"><div align="left">PERIODO:</div></td>
                <td>I</td>
                <td>&nbsp;</td>
                <td width="48">&nbsp;</td>
                <td>JORNADA</td>
                <td>MAÑANA</td>
            </tr>
            <tr>
                <td colspan="2"><div align="center">MATERIA</div></td>
                <td width="48"><div align="center">P.I</div></td>
                <td width="48"><div align="center">P.II</div></td>
                <td><div align="center">P.III</div></td>
                <td><div align="center">P.IV</div></td>
                <td><div align="center">DEFINITIVA</div></td>
            </tr>
            <tr>
                <td colspan="2">MATEMÁTICAS</td>
                <td>4.0</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">GEOMETRÍA</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">ESPAÑOL</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">PLAN LECTOR</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">INGLES</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">CIENCIAS SOCIALES</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">CIENCIAS NATURALES</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">ARTÍSTICA</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">ÉTICA VALORES</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">INFORMÁTICA</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">EDUCACIÓN FÍSICA</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">RELIGIÓN</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

        </table>
    </div>    
</div>