﻿@{
    Layout = "~/_SiteLayout.cshtml";
}



  
    <!-- Begin page content -->
    <div class="container" align="center">
        <div class="page-header" align="center">
            <h1>MISIÓN</h1>
        </div>
             <p class="lead" align="justify">Somos un Centro Educativo, prestadores de Servicios Didácticos, especializados en educación infantil, preescolar y básica primaria, que busca, a través de la más alta calidad de la pedagogía y con el personal idóneo, contribuir a la formación, educación y orientación, de cada uno de los integrantes del Centro Educativo Personitas.
                    Nuestra responsabilidad básica como centro educativo, es satisfacer  las necesidades  de educación infantil, preescolar y básica primaria en nuestra comunidad  y para ello fundamentamos  nuestra eficiencia, eficacia y efectividad en la excelencia de nuestro recurso humano; cuyo objetivo  es brindar educación de calidad, excelencia, ética, confiabilidad, creando relaciones interinstitucionales, ventajas familiares, hacia un futuro lleno de bienestar y convivencia.
             </p>
    </div>
    <div class="container" align="center">
        <div class="page-header">
            <h1>VISIÓN</h1>
        </div>
            <p class="lead" align="justify">El Centro Educativo Personitas, será en el 2020, una organización con un reconocimiento regional en educación preescolar, básica primaria y básica media, porque crea y desarrolla programas de educación integral, basadas en las normas que orientan a la convivencia en comunidad,  la investigación con una estrategia de red de acción integral y una tecnología de avanzada; todo soportado en una estructura de comodidad, en un ambiente cálido y amable, ofrecido por un equipo humano identificado con la misión y capaz de proyectar en sus acciones la imagen del centro educativo; de tal forma que nuestro nombre será sinónimo de excelencia y liderazgo a favor de la educación regional.</p>
    </div>
<br />
<br />
