﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div class="row featurette" >
    <div class="col-md-4 col-md-push-2">
        <h3> <strong>Matriculate! </strong></h3>
        <img src="images\ma.jpg" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">El Centro Educativo Personitas abre oficialmente el proceso de matricula en Educación Básica Primaria para el año lectivo 2016.</p>
    </div>

    <div class="col-md-4 col-md-push-3">
        <h3><strong> Entrega de Boletines</strong></h3>
        <img src="images\cc.png" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">Permito Informarles que el día Lunes 03 de Agosto del 2015, se hará la entrega de Boletines del Segundo Periodo académico a las 8:00am. Favor llegar directamente a los Salones.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" >
    <div class="col-md-4 col-md-push-2" >
        <h3><strong> Cierre del Segundo Periodo</strong> </h3>
        <img src="images\aa.jpg" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">Hemos culminado otra etapa de nuestro año lectivo 2015, Nuestros niños estan proximos a cumplir una meta más.</p>
    </div>

    <div class="col-md-4 col-md-push-3">
        <h3> <strong>Celebraremos Amor y Amistad </strong></h3>
        <img src="images\bb.jpg" alt="Generic placeholder image" width="240" height="240" class="img-thumbnail">
        <p class="lead" align="justify">Volveremos a Jugar Amigo Secreto, porque se aproxima el mes de Cariño y amistad con nuestros compañeritos.</p>
    </div>
</div>
