﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<div class="container marketing">
    <!-- Three columns of text below the carousel -->

    <div class="row">

        <div class="col-lg-4">
        </div>
    </div>

    <div class="row">

      <div class="col-lg-4">
          <a href="registrar"><center><img class="img-rounded" src="images\registrar.png" alt="Generic placeholder image" width="200" height="200"></center></a>
          <h3>Registrar Docente</h3>

      </div>

      <div class="col-lg-4">
          <a href="buscarD"><center><img class="img-rounded" src="images\modificar.png" alt="Generic placeholder image" width="200" height="200"></center></a>
          <h3>Modificar datos de un Docente</h3>

      </div>

      <div class="col-lg-4">
          <a href="buscar"><center><img class="img-rounded" src="images\notas.png" alt="Generic placeholder image" width="250" height="250"></center></a>  
          <h3>Consultar Boletin</h3>

       </div>

     </div>

<br />
    <br />
    <br />

</div>

