﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
    if (IsPost)  // evento que llama o ejecuta
    {

        Docente model = new Docente
            {
                nombre = Request.Form["nombre"],
                apellido = Request.Form["apellido"],
                
            };

        using (var db = new ModelContainer())    //conexion bd
        {

            db.DocenteSet.Add(model);// operacion dependiendo la necesidad en este caso insertar
            db.SaveChanges(); //guardar cambios
        }
    }
   
}

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">

        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">

            <form method="post">
                
                <img src=" images\registrar.png" alt="Generic placeholder image" width="300" height="300" class="img-rounded">
                <h2>Registrar Docente</h2>
                <label for="text" class="sr-only">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required autofocus value="" />                
                <br />
                <label for="text" class="sr-only">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" required autofocus value="" />
                <br />               
                <label for="text" class="sr-only">Cedula</label>
                <input type="text" id="cedula" name="cedula" class="form-control" placeholder="Cedula" required autofocus value="" />
                <br />                
                <label for="text" class="sr-only">Telefono</label>
                <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Telefono" required autofocus value="" />                
                <br />
                <label for="text" class="sr-only">Sexo</label>
                <input type="text" id="sexo" name="sexo" class="form-control" placeholder="Sexo" required autofocus value="" />
                <br />                
                <label for="text" class="sr-only">Direccion</label>
                <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Direccion" required autofocus value="" />
                <br />
                <div class="checkbox"></div>                                          
                <input type="submit" class="btn btn-success btn btn-primary btn-lg " value="Registrar">

            </form>

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div> <!-- /container -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>



  
