﻿@{
    Layout = "~/_SiteLayout.cshtml";
}

<div id="apDiv1">
    <div align="center"><h2>SAN PEDRO</h2></div>
    <p class="lead" align="justify">Todos los años en el mes de junio se festeja  el San Pedro en el C. E. PERSONITAS, resaltando  un encuentro pedagógico cultural, donde todos los grados se integran para organizar y apoyar a su candidata favorita, al reinado folclórico. Este evento es atractivo para todas las personas que lo visitan no solo porque vienen a integrarse a la fiesta tradicional, sino por apreciar el esfuerzo y dedicación  de los niños en este evento. De esta manera realizan un reinado ecológico haciendo alusión al Sanjuanero Caqueteño, fiesta tradicional de nuestra región.  </p>
</div>

<div class="row featurette">
    <div class="col-md-4 col-md-push-2">        
        <img src="images\y.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">        
    </div>
    <div class="col-md-4 col-md-push-3">        
        <img src="images\t.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">        
    </div>
</div>
<br />
<br />
<div class="row featurette">
    <div class="col-md-4 col-md-push-2">        
        <img src="images\o.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">        
    </div>
    <div class="col-md-4 col-md-push-3">        
        <img src="images\p.jpg" alt="Generic placeholder image" width="340" height="340" class="img-thumbnail">        
    </div>
</div>

<br />
<br />